body {
  line-height: 20px;
  background: white;
  height: 20px;
  color: green;
}

main div #content + p {
  background: white;
  font-weight: 600;
  font-size: 10;
  color: green;
}

p {
  color: green;
  display: block;
  line-height: 20px;
  background: white;
}

.icon, .icon svg {
  display: block;
  background: white;
}

@media screen and (max-height: 527px) {
  .inMediaQuery {
    display: block;
    background: white;
  }
}

@media screen and (min-width: 300px) {
  .help-text {
    color: green;
  }
}